<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its about page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<form>
    <p> Bookstore is a shop, where you can buy a wide range of books and publications in many languages.</p>

    <p> Bookstore offers a wide range of English-language books.
        The bookshop has a significant selection of contemporary and classic literature,
        a large selection of books on history, politics, psychology and sociology, film, theatre, photography, art, architecture,
        as well as a large selection of dictionaries and encyclopaedias.
        A wide range of tourist guides, phrasebooks and English dictionaries (of languages from all ​​over the world!)
        will help you to get to know and understand the culture, language and customs of the every corner of the world.
        Here you will also find books on business, marketing, management, economics and finance.
        Existing customers confirm the usefulness of weekly and monthly newspapers and magazines on the Polish law and current events
        in Poland published in English. The unique collection of Polonicum Judaicum, translated into English,
        will bring you closer to the history, customs and literature of these two cultures: Polish and Jewish.
        The bookstore offers also professional scientific books in the field of sciences and humanities, medicine, architecture, art and photography.</p>

    <p> Welcome to our bookstore!</p>
    <p> American Bookstore</p>
    <p> Slawkowska Street 24a</p>
    <p> 31014 Cracow</p>

    <p> Opening hours:</p>
    <p> Monday – Friday 10:00 – 20:00</p>
    <p> Saturday – 10:00 – 19:00</p>
    <p> Sunday 11:00 – 19:00</p>

    <p> In addition, Bookstore sells through the website and invites you to visit its web page to see the full offer.
        Choose a book that interests you!
    </p>
</form>
<div th:include="layout :: footer"></div>
</body>
</html>