<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its contact page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<div id="content">
    <h2>Contact Information</h2>

    <div class="col col_13">
        <div id="contact_form">
            <form method="post" name="contact" action="#">

                <label for="author">Name:</label> <input type="text" id="author" name="author" class="required input_field" />
                <div class="cleaner h10"></div>

                <label for="login">Email:</label> <input type="text" id="login" name="login" class="validate-login required input_field" />
                <div class="cleaner h10"></div>

                <label for="subject">Subject:</label> <input type="text" name="subject" id="subject" class="input_field" />
                <div class="cleaner h10"></div>

                <label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                <div class="cleaner h10"></div>

                <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />
                <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />

            </form>
        </div>
    </div>
    <div class="col col_13">
        <h5>Location One</h5>
        111-303 Fusce nec ante at odio blandit, <br />
        In vitae lacus in purus interdum, 10640<br />
        Nam rhoncus, diam a mollis tempor<br /><br />
        <strong>Phone:</strong> 010-225-1800<br />
        <strong>Email:</strong> <a href="mailto:info@company.com">info@company.com</a> <br />
        <div class="cleaner divider"></div>

        <div class="cleaner h30"></div>

        <h5>Location Two</h5>
        120-300 Duis lacinia dictum, <br />
        Ullamcorper mattis magna non, 15520<br />
        Maecenas a diam, a mollis magna<br /><br />
        <strong>Phone:</strong> 010-226-1200<br />
        <strong>Email:</strong> <a href="mailto:contact@company.com">contact@company.com</a> <br />
    </div>

</div>

</body>
</html>