<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its create post page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>
<form th:action="@{/createpost}" method="post" th:object="${post}">

    <div class="top-row">
        <div class="field-wrap">
            <label>
                Title<span class="req">*</span>
            </label>
            <label>
                <input type="text" th:field="*{title}"/>
            </label>
        </div>

        <div class="field-wrap">
            <label>
                Author<span class="req">*</span>
            </label>
            <label>
                <input type="text" th:field="*{author}"/>
            </label>
        </div>
        <div class="field-wrap">
            <label>
                Price<span class="req">*</span>
            </label>
            <label>
                <input type="text" th:field="*{price}"/>
            </label>
        </div>
    </div>

    <div class="field-wrap">
        <label>
            Img<span class="req">*</span>
        </label>
        <label>
            <input type="text" th:field="*{img}"/>
        </label>
    </div>

    <div class="field-wrap">
        <label>
            Genre<span class="req">*</span>
        </label>
        <label>
            <select th:field="*{genre}">
                <option value="0">select operator</option>
                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genres.get(genreStat.index)}" th:type="text"></option>
            </select>
        </label>
    </div>

    <button type="submit">Add</button>

</form>
</body>
</html>