<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleafspring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Project application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <script th:src="@{/js/bootstrap.js/bootstrap.min.js}"></script>
</head>
<body>

<div th:fragment="logpass">
    <div class="conteiner leftTop">
        <div class="navbar navbar-inverse navbar-fixed-top">
<!--            <div class="navbar-collapse collapse" >-->
<!--                <ul class="nav navbar-nav navbar-left">-->
<!--                    <li sec:authorize="!isAuthenticated()" class="tab active"><a href="registration.html">Sign Up</a></li>-->
<!--                    <li sec:authorize="!isAuthenticated()" class="tab"><a href="login.html">Log In</a></li>-->
<!--                    <li sec:authorize="isAuthenticated()" class="tab"><a th:href="@{/logout}">Log out</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</div>

<div th:fragment="navigationPanel">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-left">
                <li sec:authorize="!isAuthenticated()" class="tab active"><a href="registration.html">Sign Up</a></li>
                <li sec:authorize="!isAuthenticated()" class="tab active"><a href="login.html">Log In</a></li>
                <li sec:authorize="isAuthenticated()" class="tab active"><a th:href="@{/logout}">Log out</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main.html">B<i class="fa fa-circle"></i><i class="fa fa-circle"></i>K ST<i class="fa fa-circle"></i>RE</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" sec:authorize="!isAuthenticated()"><a href="/main.html" >Home</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/store.html">Store</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/about.html">About</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/profile.html">Profile</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/faqs.html">FAQs</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/contact.html"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div th:fragment="commentPanel">

    <div class="row bootstrap snippets">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <a class="pull-right" th:href="@{/postdetails/__${post.id}__/__${comment.id}__}">Delete comment</a>
                                <br><br>
                                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted" th:text="${comment.date}"></small>
                                </span>
                                    <strong class="text-success" th:text="'User login: '+${comment.userLogin}"></strong>
                                    <p th:text="'Text: '+${comment.text}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:fragment="footer">
    <footer>
        <div class="myfooter">
            <p>Created by Lukian Hrabchuk</p>
        </div>
    </footer>
</div>

</body>
</html>