<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its profile page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<form method="post" th:object="${userForm}">

    <div class="top-row">
        < class="field-wrap">
            <label>
                Name<span class="req">*</span>
            </label>
            <input type="text" th:field="*{name}" placeholder="Imię" placeholder=""  />
        </div>

        <div class="field-wrap">
            <label>
                Surname<span class="req">*</span>
            </label>
            <input type="text" th:field="*{surName}" placeholder="Nazwisko"/>
        </div>
        <div class="field-wrap">
            <label>
                Age<span class="req">*</span>
            </label>
            <input type="text" th:field="*{age}" placeholder="Wiek"/>
        </div>
    </div>

    <div class="field-wrap">
        <label>
            Email<span class="req">*</span>
        </label>
        <input type="email" th:field="*{email}" placeholder="Email"/>
    </div>

    <div class="field-wrap">
        <label>
            Password<span class="req">*</span>
        </label>
        <input type="password" th:field="*{password}" placeholder="Hasło"/>
    </div>

    <button type="submit" class="button button-block"/>Get Started</button>

</form>

</body>
</html>