<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its registration page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>
<form th:action="@{/registration}" method="post" th:object="${userForm}">
    <div class="top-row">
        <div class="field-wrap">
            <label>
                Name<span class="req">*</span>
            </label>
            <label>
                <input type="text" th:field="*{name}" placeholder="Imię" />
            </label>
        </div>

        <div class="field-wrap">
            <label>
                Surname<span class="req">*</span>
            </label>
            <label>
                <input type="text" name="surname" th:field="*{surName}" placeholder="Nazwisko"/>
            </label>
        </div>
        <div class="field-wrap">
            <label>
                Age<span class="req">*</span>
            </label>
            <label>
                <input type="number" name="age" th:field="*{age}" placeholder="Wiek"/>
            </label>
        </div>
    </div>

    <div class="field-wrap">
        <label>
            Login<span class="req">*</span>
        </label>
        <label>
            <input type="text" name="login" th:field="*{login}" placeholder="Email"/>
        </label>
    </div>

    <div class="field-wrap">
        <label>
            Password<span class="req">*</span>
        </label>
        <label>
            <input type="password" name="password" th:field="*{password}" placeholder="Hasło"/>
        </label>
    </div>

    <button type="submit">Apply</button>
</form>
<div th:include="layout :: footer"></div>
</body>
</html>