<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its store page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<div id="sidebar">
    <h3>Categories</h3>
    <ul class="sidebar_menu">
        <li><a href="#">ActionAndAdventure</a></li>
        <li><a href="#">Anthology</a></li>
        <li><a href="#">Classic</a></li>
        <li><a href="#">ComicAndGraphicNovel</a></li>
        <li><a href="#">CrimeAndDetective</a></li>
        <li><a href="#">Drama</a></li>
        <li><a href="#">Fable</a></li>
        <li><a href="#">FairyTale</a></li>
        <li><a href="#">FanFiction</a></li>
        <li><a href="#">Fantasy</a></li>
        <li><a href="#">HistoricalFiction</a></li>
        <li><a href="#">Horror</a></li>
        <li><a href="#">Humor</a></li>
        <li><a href="#">Legend</a></li>
        <li><a href="#">MagicalRealism</a></li>
        <li><a href="#">Mystery</a></li>
        <li><a href="#">Mythology</a></li>
        <li><a href="#">RealisticFiction</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Satire</a></li>
        <li><a href="#">ScienceFiction</a></li>
        <li><a href="#">ShortStory</a></li>
        <li><a href="#">SuspenseThriller</a></li>
    </ul>
</div>

<table th:if="${!#lists.isEmpty(store)}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Img</th>
        <th>Genre</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${store}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getTitle()}"></td>
        <td th:text="${product.getAuthor()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getImg()}"></td>
        <td th:text="${product.getGenre()}"></td>
        <td>
            <a href="postdetails.html">Details</a>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>