<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its store page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<div style="display: block; text-align: center; margin-top: 90px">
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input style="width: 500px" name="query" id="search" type="search">
                <button class="label-icon" for="search"><i class="material-icons">search</i></button>
            </div>
        </form>
    </div>
</div>

<h2>Products</h2>

<div style=" display: block; text-align: right; margin-right: 100px ">
    <h3><a  href="createpost.html">Create post</a ></h3>
</div>

<div th:if="${#lists.isEmpty(storelist)}">
    No data in the database...
</div>

<div class="content-section">
    <div class="conteiner" th:each="product: ${storelist}">
        <div class="row centered">
            <br><br>
            <table class="col-lg-4"><tr>
                <td>
                    <img style="width: 220px; height: 330px" th:src="${product.img}"/>
                </td>

                <td>
                    <table>
                        <tr>
                            <td height="30">Id:</td>
                            <td th:text="${product.getId()}"></td>
                        </tr>
                        <tr>
                            <td height="30">Title:</td>
                            <td th:text="${product.title}"></td>
                        </tr>
                        <tr>
                            <td height="30">Author:</td>
                            <td th:text="${product.author}"></td>
                        </tr>
                        <tr>
                            <td height="30">Genre:</td>
                            <td th:text="${product.genre}"></td>
                        </tr>
                        <tr>
                            <td height="30">Price:</td>
                            <td th:text="${product.price}+'$'"></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/postdetails/__${product.getId()}__}">Details</a></td>
                            <td><a th:href="@{/updatepost/__${product.getId()}__}">Update</a></td>
                            <td><a th:href="@{/deletepost/__${product.getId()}__}">Delete</a></td>
                        </tr>
                    </table>
                <a th:href="@{/addtocart/__${product.getId()}__}"><i class="fa fa-heart"></i></a>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div th:include="layout :: footer"></div>
</body>
</html>