<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head">
</head>
<body>
<h1>its store page</h1>
<div th:include="layout :: logpass"></div>
<div th:include="layout :: navigationPanel"></div>

<div th:if="${#lists.isEmpty(storelist)}">
    Brak danych w bazie danych...
</div>

<table th:if="${!#lists.isEmpty(storelist)}">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${storelist}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.author}"></td>
        <td th:text="${product.genre}"></td>
        <td >
            <img style="width: 220px; height: 330px" th:src="${product.img}"/>
        </td>
        <td th:text="${product.price}+'$'"></td>
        <td>
            <a th:href="@{/postdetails.html/__${product.getId()}__}">Details</a>
        </td>
        <td>
            <a th:href="@{/updatepost/__${product.getId()}__}">Update</a>
        </td>
        <td>
            <a th:href="@{/deletepost/__${product.getId()}__}">Delete</a>
        </td>
    </tr>

    </tbody>
</table>

<a href="createpost.html">Create post</a>

</body>
</html>